.crud {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b181d;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: Arial, sans-serif;
  color: #e9e6e9;
  text-shadow: 2px 3px 5px #e1d9e1;
}

li {
  list-style: none;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #e1d9e1;
  text-shadow: 2px 3px 5px #e1d9e1;
}

body {
  margin-top: 20%;
  place-items: center;
  background-color: #ab94b5;
}